c-adm-board-column {
  max-width: 330px;
}

.card {
  max-width: 330px !important;
}

c-adm-board-sprint-card, .card-container, .slds-grid {
  border-radius: 10px !important;
}

.subject {
  max-height: none !important;
}